<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EM APPS</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-115066231-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-115066231-1");
    </script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/emstyle.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="css/emsresponsive.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/sweetalert2.min.css" />
    <link rel="stylesheet" href="css/animations.scss" />
    <link href="img/logo.png" rel="icon" />
  </head>
  <body>
    <section id="jumbotron-menu">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="jumbotronapps">
            <img src="img/slide1.jpg" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="jumbotronapps">
            <img src="img/slide2.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="menu">
      <hr />
      <div class="row mr-0 ml-0">
        <div class="col-4 no-gutters appspad">
          <a href="onGoing.html">
            <div class="menubox">
              <img src="img/icon/event.svg" alt="" class="d-block m-auto" />
              <h4 class="text-center">EM - Event</h4>
            </div>
          </a>
        </div>
        <div class="col-4 no-gutters appspad">
          <a href="emlink.html">
            <div class="menubox">
              <img src="img/icon/linkno.svg" alt="" class="d-block m-auto" />
              <h4 class="text-center">EM - link</h4>
            </div>
          </a>
        </div>
        <div class="col-4 no-gutters appspad">
          <a href="style/">
            <div class="menubox">
              <img src="img/icon/emstyle.svg" alt="" class="d-block m-auto" />
              <h4 class="text-center">EM - Style</h4>
            </div>
          </a>
        </div>
        <div class="col-4 no-gutters appspad">
          <a href="info/">
            <div class="menubox">
              <img
                src="img/icon/information-circular-button-symbol.svg"
                alt=""
                class="d-block m-auto"
              />
              <h4 class="text-center">EM - Info</h4>
            </div>
          </a>
        </div>

        <div class="col-4 no-gutters appspad">
          <a href="sambat/">
            <div id="cs1" class="menubox">
              <img
                src="img/icon/voice-command.svg"
                alt=""
                class="d-block m-auto"
              />
              <h4 class="text-center">Brawijaya Sambat</h4>
            </div>
          </a>
        </div>
        <div class="col-4 no-gutters appspad">
          <a href="store/">
            <div id="cs2" class="menubox">
              <img src="img/icon/premium.svg" alt="" class="d-block m-auto" />
              <h4 class="text-center">EM - Store</h4>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section id="newsmenu">
      <div class="row ml-0 mr-0">
        <div class="col-lg-6 appspad2"></div>
      </div>
    </section>
    <div class="fixed-bottom footernav">
      <div class="row ml-0 mr-0">
        <div class="col-4 pr-0 pl-0">
          <a href="">
            <div class="iconfooternav">
              <img src="img/logo2.png" alt="" />
            </div>
          </a>
        </div>

        <div class="col-4 pr-0 pl-0">
          <a href="about.html">
            <div class="iconfooternav">
              <img src="img/icon/programming.svg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-4 pr-0 pl-0">
          <a href="profile.html">
            <div class="iconfooternavend">
              <img src="img/icon/user.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <footer class="text-center">
      Made with &#x2764; by PUSKOMINFO EM UB 2019
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/idb.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>

    <script src="js/owl.carousel.min.js"></script>

    <script>
      //showNotifikasiIkon();
    </script>
    <script src="js/emapps.js"></script>
  </body>
</html>
